@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

h1, h2, h3, h4, h5, h6
{
    font-family: 'Raleway', sans-serif;
    color: #797B84;
}

.heading-1
{
    background-color: #EDD2E0;
    padding: 20px;
}

footer
{
    background-color: #EDD2E0;
    padding: 20px;
}