@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

h1, h2, h3, h4, h5, h6
{
    font-family: 'Raleway', sans-serif;
    color: #797B84;
}

.heading-1
{
    background-color: #EDD2E0;
    padding: 20px;
}

.home-img
{
    position: absolute;
    right: 100px;
    top: 130px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 5px 5px 5px #999;
}

footer
{
    background-color: #EDD2E0;
    padding: 10px;
    text-align: center;
}