/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*General CSS*/

#content
{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    
}
nav ul 
{
    font-family: 'Raleway', sans-serif;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0 auto;
    padding: 3vw;
    width: 100%;
    text-align: center;
}
.heading
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    background-color: #ccc;
    margin: 0 auto;
}
.heading-2
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #ccc;
    padding: 2vw;
    margin: auto;
}
footer
{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    text-align: center;
    background-color: #ccc;
    margin: auto;
}

h2, h3, h4, h5, h6
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.location
{
    padding: 3vw;
}
.color-img
{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 3vw;
}
p
{
    font-family: 'Open Sans', sans-serif;
}
.link
{
    text-align: center;
    padding: 3vw;
}
.font-img
{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 3vw;
}

#temp-flex
{
  display: flex;
  justify-content: space-evenly;
}

#mph
{
  display: flex;
  justify-content: space-evenly;
}

.high
{
  color: red;
  font-size: 3em;
}
.current-temp
{
  font-size: 5em;
}
.low
{
  color: #0000FF;
  font-size: 3em;
}

#currentWeather
{
  background-size: cover;
}


/*Media Queries*/

/*small screen*/
@media screen and (max-width: 37.5em)
{
    nav ul
    {
        display: flex;
        flex-direction: column;
    }

    main 
    {
        display: flex;
        flex-direction: column;
    }
    .clear 
    {
      background-image: url(/images/clear-small.jpg);
    }
    .clouds
    {
      background-image: url(/images/clouds-small.jpg);
    }
    .fog 
    {
      background-image: url(/images/fog-small.jpg);
    }
    .rain
    {
      background-image: url(/images/rain-small.jpg);
    }
    .snow
    {
      background-image: url(/images/snow-small.jpg);
    }

}

/*medium screen*/
@media screen and (min-width: 37.5em)
{
     nav 
     {
         display: flex;
         flex-direction: column;
     } 
    
     main 
     {
         display: flex;
         flex-direction: column;
     }

     .all-components
     {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 1em;
    }
    .clear 
    {
      background-image: url(/images/clear.jpg);
    }
    .clouds
    {
      background-image: url(/images/clouds.jpg);
    }
    .fog 
    {
      background-image: url(/images/fog.jpg);
    }
    .rain
    {
      background-image: url(/images/rain.jpg);
    }
    .snow
    {
      background-image: url(/images/snow.jpg);
    }
 }

/*large screen*/
@media screen and (min-width: 60em)
{
    nav
    {
        display: flex;
        flex-direction: column;    
    }

    main
    {
        display: flex;
        flex-direction: column;
    }
    .all-components
    {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 1em;
    }
    .clear 
    {
      background-image: url(/images/clear.jpg);
    }
    .clouds
    {
      background-image: url(/images/clouds.jpg);
    }
    .fog 
    {
      background-image: url(/images/fog.jpg);
    }
    .rain
    {
      background-image: url(/images/rain.jpg);
    }
    .snow
    {
      background-image: url(/images/snow.jpg);
    }
}


/*Body Design*/

nav {
	margin: 0 auto;;
  background-color: #00bfff;
}
body
{
    display: block;
}
html
{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.temp, .precip, .conditions
{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 2px #999;
    max-width: 60vw;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;  
    background: rgba(255, 255, 255, 0.3);
}

.current
{
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 2px #999;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;  
  max-width: 800px;
  background: rgba(255, 255, 255, 0.3)
}

/*Menu desgin*/

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

.responsive li {
	display: block;
}

@media only screen and (min-width: 32.5em) {
	.navigation {
    display: flex;
	}
	.navigation li {
		display: block; 
    flex: 1 1 100%;
	}
	.navigation li a {
		color: #000;
    text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
}

/*Component design*/

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  z-index: 2;
}
.component 
{
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
}
.outer 
{
  position: absolute;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
.inner 
{
  display: grid;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.ball
{
  width: 1.5em;
  height: 1.5em;
  background-color: #0000FF;
  border-radius: 2em;
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
  z-index: 1;
}

.outer12 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}
.i12 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}
.outer11 {
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
}
.i11 {
   grid-column: 4 / span 2;
  grid-row: 2 / span 2;
}
.outer10 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}
.i10 {
 grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}
.outer9 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 2;
}
.i9 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 2;
}
.outer8 {
  grid-column: 2 / span 2;
  grid-row: -6 / span 2;
}
.i8 {
grid-column: 2 / span 2;
  grid-row: -6 / span 2;
}
.outer7 {
  grid-column: 4 / span 2;
  grid-row: -4 / span 2;
}
.i7 {
  grid-column: 4 / span 2;
  grid-row: -4 / span 2;
}
.outer6 {
  grid-column: 7 / span 2;
  grid-row: -3 / span 2;
}
.i6 {
  grid-column: 7 / span 2;
  grid-row: -3 / span 2;
}
.outer5 {
  grid-column: -6 / span 2;
  grid-row: -4 / span 2;
}
.i5 {
  grid-column: -6 / span 2;
  grid-row: -4 / span 2;
}
.outer4 {
  grid-column: -4 / span 2;
  grid-row: -6 / span 2;
}
.i4 {
    grid-column: -4 / span 2;
  grid-row: -6 / span 2;
}
.outer3 {
  grid-column: -3 / span 2;
  grid-row: 7 / span 2;
}
.i3 {
   grid-column: -3 / span 2;
  grid-row: 7 / span 2;
}
.outer2 {
   grid-column: -4 / span 2;
  grid-row: 4 / span 2;
}
.i2 {
  grid-column: -4 / span 2;
  grid-row: 4 / span 2;
}
.outer1 {
   grid-column: -6 / span 2;
  grid-row: 2 / span 2;
}
.i1 {
  grid-column: -6 / span 2;
  grid-row: 2 / span 2;
}
.circle {
  position: absolute;
  width: 68%;
  height: 68%;
  top: 16%;
  left: 16%;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 50%, #00bfff 30%);
  border-radius: 100%;
  z-index: 1;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
}

/*new section*/